<div class="container">
  <%= render 'shared/errors', obj: @article %>
  <div class="jumbotron shadow p-3 mb-5 bg-gray rounded">
    <%= form_with(model: @article, local: true) do |f| %>
      <div class="form-group row">
        <%= f.label :title, class: "col-2 col-form-label" %>
        <div class="col-10">
          <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Article title" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :description, class: "col-2 col-form-label" %>
        <div class="col-10">
          <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Article description" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :categories, class: "col-2 col-form-label" %>
        <div class="col-10">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
            <% cb.label(class: "checkbox-inline input_checkbox mr-3 mt-2") {cb.check_box(class: "checkbox mr-1") + cb.text } %>
          <% end %>
        </div>
      </div>      
      <div class="text-center">
        <%= f.submit class: "btn btn-outline-success shadow rounded" %>
      </div>
    <% end %>
  </div>
</div>
<div class="text-center">
  <%= link_to 'Cancel and Return to articles list', articles_path, class: "btn btn-light shadow rounded" %>
</div>