<div class="container mt-4">
  <h1 class= "page-name text-center"> By: <%= link_to @article.user.username, user_path(@article.user) %><%= gravatar_for @article.user, size: 90 %></h1>
  <div class="card shadow mb-5 bg-white rounded">
    <h4 class="card-header text-center", id="title"><%= @article.title%></h4>
    <div class="card-body">
      <h1 class="lead" id="description"><%= simple_format(@article.description) %></h1>
    </div>
    <div class="card-footer text-muted text-center">
      <small>Created <%= time_ago_in_words(@article.created_at)%> ago |
      Edited <%= time_ago_in_words(@article.updated_at)%>  ago</small>
      <div class="mt-2">
        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-warning" %> 
        <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Do you want to delete the article?"}, class: "btn btn-outline-danger" %> 
        <%= link_to 'Return to articles list', articles_path, class: "btn btn-outline-info" %>
      </div>
    </div>
  </div>
</div>